body {
  padding: 0;
  margin: 0;
  background-color: #bcb9b9bd;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  z-index: 100;
  padding: 0 20px;
  border-bottom: 2px solid #0000006c;
  background-image: url(assets/Symbols.png);
  background-repeat: no-repeat;
  background-size: 17%;
}

.headtitle {
  color: rgb(2, 2, 2);
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  margin: 0;
  padding-left: 10px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  left: -20px;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 200;
}

.bar {
  width: 30px;
  height: 2px;
  background-color: #000;
  transition: transform 0.2s ease-in-out;
}

.bar:first-child {
  transform-origin: top left;
}

.bar:last-child {
  transform-origin: bottom left;
}

.menu {
  position: fixed;
  top: 79.8px;
  right: -301px;
  width: 200px;
  height: 375px;
  background-color: rgb(49, 45, 45);
  border: 2px solid rgb(255, 255, 255);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5%;

  z-index: 150;
  transition: transform 0.2s ease-in-out;
  background-image: url(assets/Plants.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: bottom;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  margin-top: 0px;
  border-top: 1px solid #ffffff;
  border-width: 2px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}

.menu.show {
  transform: translateX(-300px);
}

.content .subtitle {
  position: relative;
  height: 120px;
  justify-content: center;
  align-items: center;
  top: 114px;
  text-align: justify;
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}

.content form {
  justify-content: center;
  align-content: space-between;
  padding-top: 110px;
  padding-left: 85px;
  display: block;
}

input {
  background-color: #ffffff;
  color: #000000;
  height: 30px;
  width: 253px;
  border: 1px solid rgb(0, 0, 0);
}
textarea {
  background-color: #ffffff;
  border:1px solid #000;
}
::placeholder {
  color: rgb(62, 62, 62);
}
form .btn{
  position: absolute;
  width: 90px;
  height: 40px;
  margin-left: 85px;
  margin-top: 5px;
  border: 1px solid rgb(252, 250, 250);
  color: #d9d9d9;
  background-color: rgb(19, 81, 81);
  font-size: large;
}

.hamburger-menu.active .bar:first-child {
  transform: translateY(-1px) rotate(45deg);
}

.hamburger-menu.active .bar:last-child {
  transform: translateY(1px) rotate(-45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.shadow {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 149;
  display: none;
}

.show {
  display: block;
}
