body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 100;
  padding: 0 20px;
  border-bottom: 2px solid #000;
  background-image: url(assets/Symbols.png);
  background-repeat: no-repeat;
  background-size: 17%;
}

p {
  color: rgb(0, 0, 0);
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  margin: 0;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  left: -20px;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 200;
}

.bar {
  width: 30px;
  height: 2px;
  background-color: #000;
  transition: transform 0.2s ease-in-out;
}

.bar:first-child {
  transform-origin: top left;
}

.bar:last-child {
  transform-origin: bottom left;
}

.menu {
  position: fixed;
  top: 11.9%;
  right: -301px;
  width: 200px;
  height: 56.6%;
  background-color: rgb(49, 45, 45);
  border: 2px solid rgb(255, 255, 255);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5%;

  z-index: 150;
  transition: transform 0.2s ease-in-out;
  background-image: url(assets/Plants.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: bottom;
}
@media only screen and (device-width: 430px) and (device-height: 932px) {
  /* Styles for iPhone 14 Max Pro */
  .menu {
    position: fixed;
    top: 10.5%;
    right: -301px;
    width: 200px;
    height: 56.6%;
    background-color: rgb(49, 45, 45);
    border: 2px solid rgb(255, 255, 255);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5%;

    z-index: 150;
    transition: transform 0.2s ease-in-out;
    background-image: url(assets/Plants.png);
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: bottom;
  }
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  border-width: 2px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}

.menu.show {
  transform: translateX(-300px);
}

.content {
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  height: 220px;
  margin: 290px 20px;
  background: #ffffff;
  border: 2.5px solid black;
  border-radius: 4%;
}
.content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-image: url(assets/SymbolsL.png);
  background-repeat: no-repeat;

  background-size: 140px;
  background-position-x: right;
}

.content li {
  padding-top: 25px;
  margin-bottom: 0px;
  padding-bottom: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hamburger-menu.active .bar:first-child {
  transform: translateY(-1px) rotate(45deg);
}

.hamburger-menu.active .bar:last-child {
  transform: translateY(1px) rotate(-45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.shadow {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 149;
  display: none;
}

.show {
  display: block;
}
